body{
    background-color: rgba(0, 0, 0, 0.897);
}

.landing {
    flex: 0 0 80%;
    max-width: 80%;
}

#firebaseui-auth-container{
    position: absolute;
    width: 30%;
    height: 50%;
    background-color: black;
    visibility: hidden;
}